USE [HPT_AIRLINES]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 05-Aug-21 05:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MaChuyenBay] [nchar](10) NOT NULL,
	[MaMayBay] [nchar](10) NOT NULL,
	[MaSanBayDi] [nchar](3) NOT NULL,
	[MaSanBayDen] [nchar](3) NOT NULL,
	[NgayBay] [date] NOT NULL,
	[GioBay] [time](7) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[KhoangCach] [int] NOT NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUONGBAY]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUONGBAY](
	[MaDuongBay] [nchar](10) NOT NULL,
	[MaSanBay1] [nchar](3) NOT NULL,
	[MaSanBay2] [nchar](3) NOT NULL,
	[KhoangCach] [int] NOT NULL,
 CONSTRAINT [PK_DUONGBAY] PRIMARY KEY CLUSTERED 
(
	[MaDuongBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHE]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[MaGhe] [nchar](15) NOT NULL,
	[MaChuyenBay] [nchar](10) NOT NULL,
	[LoaiGhe] [nchar](10) NOT NULL,
	[Trong] [bit] NOT NULL,
 CONSTRAINT [PK_GHE_1] PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [nchar](10) NOT NULL,
	[SoDienThoaiKhachHang] [nchar](10) NOT NULL,
	[NgayXuatHoaDon] [date] NOT NULL,
	[TrangThaiThanhToan] [bit] NOT NULL,
	[TongTien] [int] NOT NULL,
	[SoDienThoaiNhanVien] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SoDienThoaiKhachHang] [nchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[Email] [nchar](30) NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[TenDangNhap] [nchar](30) NOT NULL,
	[CMND] [nchar](15) NOT NULL,
	[DiemTichLuy] [int] NULL,
 CONSTRAINT [PK_KHACHHANG_1] PRIMARY KEY CLUSTERED 
(
	[SoDienThoaiKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[MaMayBay] [nchar](10) NOT NULL,
	[TenMayBay] [nvarchar](50) NOT NULL,
	[HangBay] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MAYBAY] PRIMARY KEY CLUSTERED 
(
	[MaMayBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[SoDienThoaiNhanVien] [nchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](70) NOT NULL,
	[TenDangNhap] [nchar](30) NOT NULL,
	[CMND] [nchar](15) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[SoDienThoaiNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MaSanBay] [nchar](3) NOT NULL,
	[TenSanBay] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SANBAY] PRIMARY KEY CLUSTERED 
(
	[MaSanBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDangNhap] [nchar](30) NOT NULL,
	[MatKhau] [nchar](30) NOT NULL,
	[LoaiTaiKhoan] [nchar](10) NOT NULL,
	[SoDienThoai] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 05-Aug-21 05:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MaVe] [nchar](10) NOT NULL,
	[MaChuyenBay] [nchar](10) NOT NULL,
	[Gia] [int] NOT NULL,
	[KyGui] [smallint] NULL,
	[CMNDNguoiBay] [nchar](15) NULL,
	[TenNguoiBay] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[MaHoaDon] [nchar](10) NOT NULL,
	[MaGhe] [nchar](15) NOT NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC,
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUYENBAY] ([MaChuyenBay], [MaMayBay], [MaSanBayDi], [MaSanBayDen], [NgayBay], [GioBay], [GhiChu], [KhoangCach]) VALUES (N'CB01      ', N'MB01      ', N'HAN', N'SGN', CAST(N'2021-08-07' AS Date), CAST(N'20:00:00' AS Time), N'', 1700)
INSERT [dbo].[CHUYENBAY] ([MaChuyenBay], [MaMayBay], [MaSanBayDi], [MaSanBayDen], [NgayBay], [GioBay], [GhiChu], [KhoangCach]) VALUES (N'CB02      ', N'MB01      ', N'HAN', N'SGN', CAST(N'2021-08-07' AS Date), CAST(N'08:00:00' AS Time), N'', 1700)
INSERT [dbo].[CHUYENBAY] ([MaChuyenBay], [MaMayBay], [MaSanBayDi], [MaSanBayDen], [NgayBay], [GioBay], [GhiChu], [KhoangCach]) VALUES (N'CB03      ', N'MB01      ', N'SGN', N'HAN', CAST(N'2021-08-07' AS Date), CAST(N'00:00:00' AS Time), N'', 1700)
GO
INSERT [dbo].[DUONGBAY] ([MaDuongBay], [MaSanBay1], [MaSanBay2], [KhoangCach]) VALUES (N'DB01      ', N'HAN', N'SGN', 1700)
INSERT [dbo].[DUONGBAY] ([MaDuongBay], [MaSanBay1], [MaSanBay2], [KhoangCach]) VALUES (N'DB02      ', N'SGN', N'VII', 1400)
INSERT [dbo].[DUONGBAY] ([MaDuongBay], [MaSanBay1], [MaSanBay2], [KhoangCach]) VALUES (N'DB06      ', N'VII', N'HAN', 320)
GO
INSERT [dbo].[GHE] ([MaGhe], [MaChuyenBay], [LoaiGhe], [Trong]) VALUES (N'CB01-Ghe_10A   ', N'CB01      ', N'PhoThong  ', 1)
INSERT [dbo].[GHE] ([MaGhe], [MaChuyenBay], [LoaiGhe], [Trong]) VALUES (N'CB01-Ghe_10B   ', N'CB01      ', N'PhoThong  ', 1)
INSERT [dbo].[GHE] ([MaGhe], [MaChuyenBay], [LoaiGhe], [Trong]) VALUES (N'CB01-Ghe_10C   ', N'CB01      ', N'PhoThong  ', 1)
GO
INSERT [dbo].[HOADON] ([MaHoaDon], [SoDienThoaiKhachHang], [NgayXuatHoaDon], [TrangThaiThanhToan], [TongTien], [SoDienThoaiNhanVien]) VALUES (N'HD02      ', N'0123541859', CAST(N'2021-05-05' AS Date), 0, 1700000, N'0987461378')
INSERT [dbo].[HOADON] ([MaHoaDon], [SoDienThoaiKhachHang], [NgayXuatHoaDon], [TrangThaiThanhToan], [TongTien], [SoDienThoaiNhanVien]) VALUES (N'HD03      ', N'0123541859', CAST(N'2021-06-11' AS Date), 1, 850000, N'0987461378')
INSERT [dbo].[HOADON] ([MaHoaDon], [SoDienThoaiKhachHang], [NgayXuatHoaDon], [TrangThaiThanhToan], [TongTien], [SoDienThoaiNhanVien]) VALUES (N'HD04      ', N'0123541859', CAST(N'2020-06-11' AS Date), 1, 850000, N'0987461378')
GO
INSERT [dbo].[KHACHHANG] ([SoDienThoaiKhachHang], [TenKhachHang], [Email], [DiaChi], [TenDangNhap], [CMND], [DiemTichLuy]) VALUES (N'0123541859', N'Ngô Quyền', N'ngoquyen@email.com            ', N'97 Man Thiện, p.Hiệp Phú', N'ngoquyen                      ', N'123567233      ', 230)
INSERT [dbo].[KHACHHANG] ([SoDienThoaiKhachHang], [TenKhachHang], [Email], [DiaChi], [TenDangNhap], [CMND], [DiemTichLuy]) VALUES (N'0213124111', N'Trần Văn Khách', N'tranvankhach@email.com        ', N'97 Man Thiện', N'tranvankhach                  ', N'2141516616161  ', 0)
INSERT [dbo].[KHACHHANG] ([SoDienThoaiKhachHang], [TenKhachHang], [Email], [DiaChi], [TenDangNhap], [CMND], [DiemTichLuy]) VALUES (N'0321415111', N'Nguyễn Quỳnh Như', N'nguyenquynhnhu@email.com      ', N'98 Man Thiện', N'nguyenquynhnhu                ', N'12842151616    ', 0)
GO
INSERT [dbo].[MAYBAY] ([MaMayBay], [TenMayBay], [HangBay]) VALUES (N'MB01      ', N'VJ3709', N'Vietjet Air')
INSERT [dbo].[MAYBAY] ([MaMayBay], [TenMayBay], [HangBay]) VALUES (N'MB02      ', N'MH1761', N'Việt Nam Airlines')
INSERT [dbo].[MAYBAY] ([MaMayBay], [TenMayBay], [HangBay]) VALUES (N'MB03      ', N'QH3752', N'Bamboo Airways')
GO
INSERT [dbo].[NHANVIEN] ([SoDienThoaiNhanVien], [TenNhanVien], [DiaChi], [TenDangNhap], [CMND]) VALUES (N'0837587383', N'Trần Nhân Viên', N'97 Man Thiện', N'trannhanvien.nv               ', N'1433221415     ')
INSERT [dbo].[NHANVIEN] ([SoDienThoaiNhanVien], [TenNhanVien], [DiaChi], [TenDangNhap], [CMND]) VALUES (N'0847165661', N'Nguyễn Đức Duy', N'97 Man Thiện, p.Hiệp Phú', N'nguyenducduy.nv               ', N'174581723      ')
INSERT [dbo].[NHANVIEN] ([SoDienThoaiNhanVien], [TenNhanVien], [DiaChi], [TenDangNhap], [CMND]) VALUES (N'0947646777', N'Lê Ngọc Châu Anh', N'97 Man Thiện, p.Hiệp Phú', N'leanh.nv                      ', N'174857211      ')
GO
INSERT [dbo].[SANBAY] ([MaSanBay], [TenSanBay]) VALUES (N'BMV', N'Buôn Ma Thuật')
INSERT [dbo].[SANBAY] ([MaSanBay], [TenSanBay]) VALUES (N'DIN', N'Điện Biên Phủ')
INSERT [dbo].[SANBAY] ([MaSanBay], [TenSanBay]) VALUES (N'HAN', N'Nội Bài')
GO
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan], [SoDienThoai]) VALUES (N'dinhbolinh                    ', N'123                           ', N'KhachHang ', N'0984614441')
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan], [SoDienThoai]) VALUES (N'doanchibinh                   ', N'123456                        ', N'QuanLy    ', N'0983716362')
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan], [SoDienThoai]) VALUES (N'dothuuyen.nv                  ', N'123456                        ', N'NhanVien  ', N'0987461378')
GO
INSERT [dbo].[VE] ([MaVe], [MaChuyenBay], [Gia], [KyGui], [CMNDNguoiBay], [TenNguoiBay], [NgaySinh], [MaHoaDon], [MaGhe]) VALUES (N'V01       ', N'CB03      ', 1700000, 15, N'123            ', N'Ngô Quyền', NULL, N'HD02      ', N'CB03-Ghe_2B    ')
INSERT [dbo].[VE] ([MaVe], [MaChuyenBay], [Gia], [KyGui], [CMNDNguoiBay], [TenNguoiBay], [NgaySinh], [MaHoaDon], [MaGhe]) VALUES (N'V01       ', N'CB01      ', 850000, 15, N'123            ', N'Ngô Quyền', NULL, N'HD03      ', N'CB01-Ghe_6E    ')
INSERT [dbo].[VE] ([MaVe], [MaChuyenBay], [Gia], [KyGui], [CMNDNguoiBay], [TenNguoiBay], [NgaySinh], [MaHoaDon], [MaGhe]) VALUES (N'V01       ', N'CB03      ', 850000, 15, N'123            ', N'Ngô Quyền ', NULL, N'HD04      ', N'CB03-Ghe_6D    ')
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_MAYBAY] FOREIGN KEY([MaMayBay])
REFERENCES [dbo].[MAYBAY] ([MaMayBay])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_MAYBAY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_SANBAY] FOREIGN KEY([MaSanBayDi])
REFERENCES [dbo].[SANBAY] ([MaSanBay])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_SANBAY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_SANBAY1] FOREIGN KEY([MaSanBayDen])
REFERENCES [dbo].[SANBAY] ([MaSanBay])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_SANBAY1]
GO
ALTER TABLE [dbo].[DUONGBAY]  WITH CHECK ADD  CONSTRAINT [FK_DUONGBAY_SANBAY] FOREIGN KEY([MaSanBay1])
REFERENCES [dbo].[SANBAY] ([MaSanBay])
GO
ALTER TABLE [dbo].[DUONGBAY] CHECK CONSTRAINT [FK_DUONGBAY_SANBAY]
GO
ALTER TABLE [dbo].[DUONGBAY]  WITH CHECK ADD  CONSTRAINT [FK_DUONGBAY_SANBAY1] FOREIGN KEY([MaSanBay2])
REFERENCES [dbo].[SANBAY] ([MaSanBay])
GO
ALTER TABLE [dbo].[DUONGBAY] CHECK CONSTRAINT [FK_DUONGBAY_SANBAY1]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_CHUYENBAY] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_CHUYENBAY]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([SoDienThoaiKhachHang])
REFERENCES [dbo].[KHACHHANG] ([SoDienThoaiKhachHang])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TAIKHOAN] ([TenDangNhap])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TAIKHOAN] ([TenDangNhap])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_CHUYENBAY] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_CHUYENBAY]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_GHE] FOREIGN KEY([MaGhe])
REFERENCES [dbo].[GHE] ([MaGhe])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_GHE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_HOADON]
GO
